.colDevider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;
    width: 70vw;
    background-color: transparent;
    transform: translateY(-2vw);
}
.row {
    width: 15vw;
}

.optionsFormWhite {
    width: 15vw;
    border: 1px dashed gray;
    border-radius: .6vw;
    height: 17%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2vh;
    align-items: center;
}

.optionsFormDark {
    width: 15vw;
    height: 17%;
    border: 1px dashed gray;
    border-radius: .6vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2vh;
    align-items: center;
}

.darkData {
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-dark);
    text-align: center;
}

.whiteData {
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-white);
    text-align: center;
}

#selectDark {
    align-self: center;
    padding: 1vh .6vw;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 2vh;
    border: 0px;
    background-color: var(--dark-back);
    color: var(--font-dark);
}

#selectWhite {
    align-self: center;
    padding: 1vh .6vw;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 2vh;
    border: 0px;
}

.optionDark {
    color: var(--font-dark);
    font-size: 1.8vh;
    font-family: 'Roboto';
    background-color: var(--dark-back);
}

.optionWhite {
    color: var(--font-white);
    font-size: 1.8vh;
    font-family: 'Roboto';
    background-color: var(--white-card-back);
  }

  .outerFrame {
    display: flex;
    flex-direction: column;
    width: 54vw;
    height: auto;
    /* height: 57vh; */
  }


    #frame {
        width: 54vw;
        border: 1px dashed gray;
        border-radius: .6vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        /* height: 50vh; */
        align-self: flex-end;
        align-content: center;
        }

    .whiteDataView {
        display: block;
        overflow-y: auto;
        max-height: 50vh;
        width: 54vw;
    }

    .darkDataView {
        max-height: 50vh;
        width: 54vw;
        display: block;
        overflow-y: auto;
    }

    .captions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 54vw;
    font-weight: bolder;
    height: 3vh;
}

.darkCaption {
    display: inline;
    height: 3vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-dark);
    text-align: center;
    align-content: center;
}

.whiteCaption {
    display: inline;
    height: 3vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-white);
    text-align: center;
    align-content: center;
}

.whiteDataRows {
    height: 7vh;
    margin-top: .5vh;
    margin-bottom: .5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--white-back);
    gap: 2vw;
    width: 53vw;
}

.darkDataRows {
    height: 7vh;
    margin-top: .5vh;
    margin-bottom: .5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--dark-back);
    gap: 2vw;
    width: 53vw;
}

.studentNameDark {
    height: 7vh;
    font-family: 'Roboto';
    font-size: 2vh;
    width: 6vw;
    color: var(--font-dark);
    text-align: center;
    word-wrap: break-word;
    align-content: center;
    align-items: center;
}

.studentNameWhite {
    height: 7vh;
    width: 6vw;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-white);
    text-align: center;
    align-content: center;
    word-wrap: break-word;
}

.darkhint {
    font-family: 'Roboto';
    color: var(--font-dark);
    text-align: center;
    align-content: center;
    font-size: 3vh;
    height: 100%;
    width: 54vw;
}

.whitehint {
    height: 100%;
    width: 54vw;
    font-family: 'Roboto';
    color: var(--font-white);
    text-align: center;
    align-content: center;
    font-size: 3vh;
}

.darkDataView::-webkit-scrollbar {
    width: .8vh;
    background-color: var(--dark-shadow-color);
}

.darkDataView::-webkit-scrollbar-thumb {
    background-color: var(--button-color-dark);
}
.whiteDataView::-webkit-scrollbar {
    width: .8vh;
    background-color: var(--white-shadow-color);
}

.whiteDataView::-webkit-scrollbar-thumb {
    background-color: var(--button-color-white);
}

#placingTheButton {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

#submitButtonWhite {
    cursor: pointer;
    font-size: 2.4vh;
    border: 0px;
    outline: 0px;
    background-color: var(--button-color-white);
    color: rgb(0, 22, 29);
    padding: 2vh 5vh;
    border-radius: .6vh;
    letter-spacing: .6vh;
  }

  #submitButtonWhite:hover {
    box-shadow: 0.5vh 1vh 1vh var(--white-shadow-color);
  }

  #submitButtonDark {
    cursor: pointer;
    font-size: 2.4vh;
    border: 0px;
    outline: 0px;
    background-color: var(--button-color-dark);
    color: var(--font-dark);
    padding: 2vh 5vh;
    border-radius: .6vh;
    letter-spacing: .6vh;
  }

  #submitButtonDark:hover {
    box-shadow: 0.5vh 1vh 1vh var(--dark-shadow-color);
  }