.colDevider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
    width: 70vw;
    background-color: transparent;
    transform: translateY(-2vw);
}
.whiteCol {
    width: 15vw;
}

.darkCol {
    width: 15vw;
}

.optionsFormWhite {
    width: 15vw;
    border: 1px dashed gray;
    border-radius: .6vw;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2vh;
    align-items: center;
}

.optionsFormDark {
    width: 15vw;
    height: 100%;
    border: 1px dashed gray;
    border-radius: .6vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2vh;
    align-items: center;
}

.darkData {
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-dark);
    text-align: center;
}

.whiteData {
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-white);
    text-align: center;
}

.darkDate {
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    border-color: var(--dark-back);
    outline: 0px;
    color: var(--font-dark);
    background-color: var(--dark-card-back);
}
.whiteDate {
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--font-white);
    background-color: var(--white-card-back);
  }

#selectDark {
    align-self: center;
    padding: 1vh 2vh;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 2vh;
    border: 0px;
    background-color: var(--dark-back);
    color: var(--font-dark);
}

#selectWhite {
    align-self: center;
    padding: 1vh 2vh;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 2vh;
    border: 0px;
}

.optionDark {
    color: var(--font-dark);
    font-size: 1.8vh;
    font-family: 'Roboto';
    background-color: var(--dark-back);
}

.optionWhite {
    color: var(--font-white);
    font-size: 1.8vh;
    font-family: 'Roboto';
    background-color: var(--white-card-back);
  }

  .outerFrame {
    display: flex;
    flex-direction: column;
    width: 54vw;
    height: 66vh;
  }


    #frame {
        width: 54vw;
        border: 1px dashed gray;
        border-radius: .6vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 61vh;
        align-self: flex-end;
        align-content: center;
        }

    .whiteDataView {
        display: block;
        overflow-y: scroll;
        height: 61vh;
        width: 54vw;
    }

    .darkDataView {
        height: 61vh;
        width: 54vw;
        display: block;
        overflow-y: scroll;
    }

    .captions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 54vw;
    font-weight: bolder;
    height: 3vh;
}

.darkCaption:nth-child(1) {
    display: inline;
    height: 3vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-dark);
    text-align: center;
    align-content: center;
    width: 8%;
}

.whiteCaption:nth-child(1) {
    display: inline;
    height: 3vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-white);
    text-align: center;
    align-content: center;
    width: 8%;
}

.darkCaption:nth-child(2) {
    display: inline;
    height: 3vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-dark);
    text-align: center;
    align-content: center;
    width: 14%;
}

.whiteCaption:nth-child(2) {
    display: inline;
    height: 3vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-white);
    text-align: center;
    align-content: center;
    width: 14%;
}

.darkCaption:nth-child(3) {
    display: inline;
    height: 3vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-dark);
    text-align: center;
    align-content: center;
    width: 20%;
}

.whiteCaption:nth-child(3) {
    display: inline;
    height: 3vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-white);
    text-align: center;
    align-content: center;
    width: 20%;
}

.whiteDataRows {
    height: 20vh;
    margin-top: .5vh;
    margin-bottom: .5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--white-back);
    gap: 2vw;
    width: 53vw;
}

.darkDataRows {
    height: 20vh;
    margin-top: .5vh;
    margin-bottom: .5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--dark-back);
    gap: 2vw;
    width: 53vw;
}

.studentNameDark {
    height: 15vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-dark);
    text-align: center;
    word-wrap: break-word;
    align-content: center;
    width: 30%;
    align-items: center;
}

.studentNameWhite {
    height: 15vh;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-white);
    text-align: center;
    align-content: center;
    width: 30%;
    word-wrap: break-word;
}

.theReasonDark {
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-dark);
    text-align: center;
    width: 20vw;
    text-align: center;
    word-wrap: break-word;
    align-content: center;
}

.theReasonWhite {
    align-content: center;
    font-family: 'Roboto';
    font-size: 2vh;
    color: var(--font-white);
    text-align: center;
    width: 20vw;
    word-wrap: break-word;
}
.darkhint {
    font-family: 'Roboto';
    color: var(--font-dark);
    text-align: center;
    align-content: center;
    font-size: 3vh;
    height: 100%;
    width: 54vw;
}
.whitehint {
    height: 100%;
    width: 54vw;
    font-family: 'Roboto';
    color: var(--font-white);
    text-align: center;
    align-content: center;
    font-size: 3vh;
}

.darkDataView::-webkit-scrollbar {
    width: .8vh;
    background-color: var(--dark-shadow-color);
}

.darkDataView::-webkit-scrollbar-thumb {
    background-color: var(--button-color-dark);
}
.whiteDataView::-webkit-scrollbar {
    width: .8vh;
    background-color: var(--white-shadow-color);
}

.whiteDataView::-webkit-scrollbar-thumb {
    background-color: var(--button-color-white);
}

.studentNameInputWhite {
    padding: 1.2vh 1vw;
    border: 0px;
    outline: 0px;
    font-size: medium;
    border-radius: 5px;
}

.studentNameInputDark {
    border-radius: 5px;
    padding: 1.2vh 0vw;
    border: 0px;
    outline: 0px;
    font-size: medium;
    background-color: var(--dark-back);
}